<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h2>Log in</h2>
      <%= form_with model: @user, url: user_session_path do |f| %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class: "name" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "password", autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.hidden_field :remember_me, value: "0" %>
          <%= f.check_box :remember_me, {}, "1", "0" %>
          <%= f.label :remember_me, "Remember me" %>
        </div>
        <div class="actions">
          <%= f.submit "Log in", class:"btn btn-primary" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
