<h1>User info</h1>
<%= form_with model: @post_image do |f| %>
  <%= f.file_field :image, accept: "image/*" %>
  <h6>name</h6>
  <%= f.text_field :name %>
  <h6>introduction</h6>
  <%= f.text_area :introduction %>
  <br>
  <%= f.submit 'Create Book' %>
<% end %>